doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="description" content="Pokemon Quest encyclopedia")
    mena(name="keywords" content="pokemonquestpedia, pokemon quest encyclopedia, pokemon quest guide, pokemon, quest , guide, encyclopedia, pokemon quest recipes, recipes list")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui")
    title Pokemon Questpedia
    link(rel="stylesheet", type="text/css", href=process.env.WEB_BASE + "/css/common.css")
    script(src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.11.1/runtime.min.js")
    script(src=process.env.WEB_BASE + "/js/vendor.js")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-93111170-3")
    script.
      window.dataLayer = window.dataLayer || []
      function gtag () {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-93111170-3')

  body
    #app
      router-link#logo(to="/")
        img(src=process.env.WEB_BASE + "/images/logo.png")
      router-view
    footer
      p #[a(href="https://calvinong.tech/", target="_blank") Calvin Ong]
      p Pokémon And All Respective Names are Trademark &amp; © of Nintendo 1996-2018

    script(src=process.env.WEB_BASE + "/js/index.js")
